<!DOCTYPE html>
<html lang="en" style="--hover: #dce2e4; --nav-primary-font-colour: black; --nav-secondary-font-colour: #9cb0c2; --background-colour: #f5f7fe; --background-font-colour: #4a4a4a; --background-heading-colour: #000000; --primary-background: #ffffff; --primary-font-colour: #02194A; --primary-border-colour: #dbdcdf; --primary-link-colour: #000000; --secondary-background: #000000; --secondary-font-colour: #a5bdd9; --secondary-heading-colour: #ffffff; --border-colour: #f2f2f2; height: 100%;">

<head>
    <title>Diamond Wwells Capital: The Online Trading and Mining Platform - Diamond Wwells Capital</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="”og:title”" content="Diamond Wwells Capital">
    <meta property="”og:image”" content="”assets/images/site/logo.png”">

    <meta content="width=device-width, user-scalable=no" name="viewport">
    <meta content="Trade Stocks, Forex, and Crypto Currencies, Start making profit today by trading over 150 Stocks, Forex and Crypto Currencies." property="og:description">

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="assets/css/site/reactapp-modules.css" rel="stylesheet">
    <link href="assets/css/libs/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="assets/css/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/crest-capital.css">
    <link rel="stylesheet" type="text/css" href="test.css">
 
  <link rel="shortcut icon" href="assets/images/pwa/favicon.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/pwa/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/pwa/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="48x48" href="assets/images/pwa/favicon-48x48.png">
  <link rel="manifest" href="assets/images/pwa/manifest.json">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#fff">
  <meta name="application-name" content="Diamond Wwells Capital">
  <link rel="apple-touch-icon" sizes="57x57" href="assets/images/pwa/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/images/pwa/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/pwa/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/pwa/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/pwa/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/pwa/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/images/pwa/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/pwa/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="assets/images/pwa/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/pwa/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="assets/images/pwa/apple-touch-icon-1024x1024.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="Diamond Wwells Capital">
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/images/pwa/apple-touch-startup-image-640x1136.png">
  <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/images/pwa/apple-touch-startup-image-750x1334.png">
  <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/images/pwa/apple-touch-startup-image-828x1792.png">
  <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/images/pwa/apple-touch-startup-image-1125x2436.png">
  <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/images/pwa/apple-touch-startup-image-1242x2208.png">
  <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/images/pwa/apple-touch-startup-image-1242x2688.png">
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/images/pwa/apple-touch-startup-image-1536x2048.png">
  <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/images/pwa/apple-touch-startup-image-1668x2224.png">
  <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/images/pwa/apple-touch-startup-image-1668x2388.png">
  <link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/images/pwa/apple-touch-startup-image-2048x2732.png">
  <link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/images/pwa/apple-touch-startup-image-1620x2160.png">
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/images/pwa/apple-touch-startup-image-1136x640.png">
  <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/images/pwa/apple-touch-startup-image-1334x750.png">
  <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/images/pwa/apple-touch-startup-image-1792x828.png">
  <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/images/pwa/apple-touch-startup-image-2436x1125.png">
  <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/images/pwa/apple-touch-startup-image-2208x1242.png">
  <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/images/pwa/apple-touch-startup-image-2688x1242.png">
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/images/pwa/apple-touch-startup-image-2048x1536.png">
  <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/images/pwa/apple-touch-startup-image-2224x1668.png">
  <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/images/pwa/apple-touch-startup-image-2388x1668.png">
  <link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/images/pwa/apple-touch-startup-image-2732x2048.png">
  <link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/images/pwa/apple-touch-startup-image-2160x1620.png">
  <link rel="icon" type="image/png" sizes="228x228" href="assets/images/pwa/coast-228x228.png">
  <meta name="msapplication-TileColor" content="#fff">
  <meta name="msapplication-TileImage" content="assets/images/pwa/mstile-144x144.png">
  <meta name="msapplication-config" content="assets/images/pwa/browserconfig.xml">
  <link rel="yandex-tableau-widget" href="assets/images/pwa/yandex-browser-manifest.json">
  <link type="text/css" rel="stylesheet" charset="UTF-8" href="assets/www.gstatic.com/_/translate_http/_/ss/k=translate_http.tr.69JJaQ5G5xA.L.W.O/d=0/rs=AN8SPfpC36MIoWPngdVwZ4RUzeJYZaC7rg/m=el_main_css">
  <script type="text/javascript" charset="UTF-8" src="https://translate.googleapis.com/_/translate_http/_/js/k=translate_http.tr.en_US.SoIBkgEFL-E.O/d=1/exm=el_conf/ed=1/rs=AN8SPfqyEhDD8B1uaxW5qQJyClI3vzTA9Q/m=el_main"></script>
</head>


<body data-new-gr-c-s-check-loaded="14.1113.0" data-gr-ext-installed="" style="position: relative; min-height: 100%; top: 0px;" class="">




<div id="root">
  <div class="navbar-fixed">
    <nav class="bg ">
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <a data-target="sn" class="sidenav-trigger show-on-large">
              <span class="material-icons notranslate">menu</span>
            </a>
          </li>
          <li>
            <a href="/user/index.html">CREST CAPITAL</a>
          </li>
        </ul>
        <ul class="right">
          <li>
            <span class="material-icons notranslate ">dark_mode</span>
          </li>
          <li>
            <a title="Sign Out">
              <span class="material-icons notranslate ">power_settings_new</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="sn" style="transform: translateX(-105%);">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="assets/images/site/Office.jpg">
        </div>
        <a href="#user">
          <img class="circle" src="assets/uploads/images/camera.png">
        </a>
        <h5 class="white-text " style="margin-bottom: 0px; padding-bottom: 0px;">Brenda Robles</h5>
        <small class="white-text email">Live Account</small>
      </div>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="active">
          <div class="collapsible-body" style="display: block;">
            <ul>
              <li>
                <a class="sidenav-close" href="/user/index.html">
                  <span class="material-icons notranslate">home</span><span style="padding-left: 10px;">Home</span>
                </a>
              </li>
              <li>
                <a class="sidenav-close" href="/user/auth/index.html">
                  <span class="material-icons notranslate">account_circle</span><span style="padding-left: 10px;">Account</span>
                </a>
              </li>
              <li>
                <a class="sidenav-close" href="/user/trading/markets.html">
                  <span class="material-icons notranslate">store</span><span style="padding-left: 10px;">Markets</span>
                </a>
              </li>
              <li>
                <a class="sidenav-close" href="/user/deposits/list.html">
                  <span class="material-icons notranslate">input</span><span style="padding-left: 10px;">Deposits</span>
                </a>
              </li>
              <li>
                <a class="sidenav-close" href="/user/withdrawals/list.html">
                  <span class="material-icons notranslate">payments</span><span style="padding-left: 10px;">Withdrawals</span>
                </a>
              </li>
              <li>
                <a class="sidenav-close" href="/buy-crypto.html">
                  <span class="material-icons notranslate">shopping_bag</span>
                  <span style="padding-left: 10px;">Buy Coin</span>
                </a>
              </li>
              <li>
                <a class="sidenav-close" href="/user/plans/home.html">
                  <span class="material-icons notranslate">upgrade</span><span style="padding-left: 10px;">Upgrade</span>
                </a>
              </li>
              <li>
                <a class="sidenav-close" href="/user/auth/referrals.html">
                  <span class="material-icons notranslate">supervisor_account</span><span style="padding-left: 10px;">Referrals</span>
                </a>
              </li>
              <li>
                <a class="sidenav-close">
                  <span class="material-icons notranslate">power_settings_new</span><span style="padding-left: 10px;">Sign Out</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>


  <div class="main app-py-1" style="height: 100vh;">
    <div class="fade-appear-done fade-enter-done">

      <div class="container"><div><div class="center"><b>MY MINING CONTRACTS</b></div><br><div class="container"><ul class="collection"><li class="collection-item app-py-2"><p id="no-data" style="text-align: center;"><span class="app-font-normal">YOU HAVE NO MINING CONTRACT AT THE MOMENT</span></p></li></ul></div></div></div>


    </div>
  </div>




<script type="text/javascript" charset="utf-8" async="" src="assets/www.smartsuppchat.com/loader.js?"></script>
<script src="assets/javascript/reactapp-modules.js"></script>

<script src="assets/s3.tradingview.com/tv.js"></script>

<script defer="" src="assets/unpkg.com/default-passive-events"></script>

<script src="assets/www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>

<script defer="" src="assets/cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>

<script src="assets/www.gstatic.com/firebasejs/8.3.0/firebase-database.js"></script>

<script defer="" src="assets/widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>

<script defer="" src="assets/translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<script defer="" src="assets/cdn.jsdelivr.net/npm/@walletconnect/web3-provider@1.7.1/dist/umd/index.min.js"></script>
<!-- <script type="text/javascript">
      var cccTheme = { General: { enableMarquee: true } };
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
            includedLanguages:"ar,es,de,fa,fr,pt,ru,tr,th,zh-CN,in,it,nl,se,id,vn,vi",
          },
          "google_translate_element"
        );
      }
    </script> -->
    <!-- <script src="assets/crest-capital.js"></script> -->
    <!-- <script type="text/javascript" src="assets/main.js"></script> -->

</body>
</html>