{% extends 'fronpage/main.html' %}
{% load static %}
{% block content %}
<div class="app-relative hero-mixed" style="background: url({% static 'frontpage/assets/images/site/Hero5.jpg' %});
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;">
    <div class="overlay2"></div>
  <div class="fade-appear-done fade-enter-done" style="padding-bottom: 6rem; padding-top: 2rem;">
    <h1 class="center app-relative white-text">Contact Us</h1>
    <!-- <p class="app-relative center white-text">Last Revised: February 1, 2022</p> -->
  </div>
</div>


<div class="main" style="min-height: 60vh;">

<div class="container fade-appear-done fade-enter-done"><br><br>
	<section class="bg app-px-1 app-py-3">
		<form>
			<div class="row app-py-0">
				<div class="col l6 s12">
					<div class="input-field">
						<input type="text" id="name" placeholder="Your Name*" required="" value="">
					</div>
				</div>
				<div class="col l6 s12">
					<div class="input-field">
						<input type="email" id="email" placeholder="Email Address*" required="" value="">
					</div>
				</div>
			</div>
			<div class="row app-py-0">
				<div class="col l6 s12 ">
					<div class="input-field">
						<input type="number" id="phone" placeholder="Phone Number*" required="" value="">
					</div>
				</div>
				<div class="col l6 s12">
					<div class="input-field">
						<input type="text" id="subject" placeholder="Subject" required="" class="validate" value="">
					</div>
				</div>
			</div>
			<div class="row app-py-0">
				<div class="col l12 s12">
					<div class="input-field">
						<textarea placeholder="Your Message Here..." type="text" id="body" class="materialize-textarea"></textarea>
					</div>
				</div>
				<div>
					<button type="submit" class="btn-style btn-filled">SEND MESSAGE</button>
				</div><br><p><b>Note:</b> We promise that we don't do spam &amp; your mail address is confidential.</p>
			</div>
		</form>
	</section><br>
</div>

</div>
{% endblock content %}